@mixin btn_vert {
  background-color: $vertClair;
  border-radius: 20px;
  color: #270072;
  font-weight: bold;
  cursor: pointer;
}

@mixin btn_transparent {
  color: white;
  background: transparent;
  border-radius: 40px;
  border: 1px solid white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}
