ol {
  margin-left: 20px;
}
.list_number {
  list-style: decimal;
}
.quality_card ul li {
  list-style: circle;
  margin-left: 20px;
}
.quality_systemEnsure {
  ul li {
    list-style: circle;
    margin-left: 20px;
  }
}
