.tutorial_S1 {
  width: 1100px;
  margin: 0 auto;
  .video_sourcing {
    display: flex;
    width: 1100px;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid blue;
  }
}
.intro {
  width: 800px;
}
h4 {
  margin: 0 10px 15px 0;
  border-top: 1px solid $violetClair;
  padding-top: 20px;
  width: 300px;
}
.tutorial_S2 {
  background-color: $fondGris;
  width: 100%;
}
.content {
  margin-bottom: 50px;
}

.video_importing {
  width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list_cardVideo {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid green;
  width: 70%;
  justify-content: space-between;
  .cardVideo {
    width: 370px;
    height: 300px;
    border: 1px solid black;
    iframe {
      width: 100%;
      height: 225px;
    }
    h5 {
      margin: 10px 0;
      font-size: 15px;
    }
    a {
      display: block;
      font-weight: bold;
      background: url(../../img/arrow.svg) no-repeat 80px;
      color: $violetFonce;
      &:hover {
        text-decoration: underline;
      }
    }
    &:nth-child(1) {
      margin-bottom: 10px;
    }
  }
}
