.winners_stories {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5px;
  @media all and (max-width: 1200px) {
    max-width: 900px;
  }
  @media all and (max-width: 990px) {
    max-width: 700px;
  }
  @media all and (max-width: 770px) {
    max-width: 500px;
  }
  .winners_stories_title {
    text-align: center;
    border-bottom: 2px solid $vertClair;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  iframe {
    margin-top: 30px;
    width: 700px;
    height: 400px;
    @media all and (max-width: 770px) {
      max-width: 500px;
    }
  }
  .winners_stories_list {
    margin: 40px 0 0 0;
    .winners_stories_card {
      display: flex;
      border-top: 2px solid $vertClair;
      padding: 45px 0;
      p {
        margin: 15px 0;
      }
      .winners_stories_card_L {
        width: 450px;
        margin-right: 30px;
      }
      @media all and (max-width: 770px) {
        flex-wrap: wrap;
        justify-content: center;
        .winners_stories_card_R {
          margin-top: 20px;
        }
      }
    }
  }
}
.winners_stories_footer {
  text-align: center;
  margin: 40px 0 80px;
  border-bottom: 2px solid $vertClair;
  border-top: 2px solid $vertClair;
  padding: 40px 5px;
  h2 {
    font-size: 40px;
  }
  p {
    margin: 15px 0;
  }
  .btn_vert {
    @include btn_vert;
    height: 40px;
    width: 350px;
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {
      color: white;
      background-color: $bleuFonce;
    }
  }
}
.winners_stories_footer_violet {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: $violetClair;
  .winners_stories_footer_violet_content {
    color: white;
    width: 450px;
    margin: 50px 0 50px 0;
    h2 {
      color: white;
      font-size: 40px;
    }
    p {
      margin: 15px 0;
    }
    input {
      @include btn_transparent;
      margin: 20px 0 40px 0;
      width: 250px;
      height: 40px;

      &:hover {
        background-color: white;
        color: $bleuFonce;
      }
    }
  }
}
