@import "./shared/fonts";
@import "./shared/variables";
@import "./shared/mixin";
@import "./shared/keyframes";
@import "./shared/header";
@import "./shared/tiroir";
@import "./about-shortages";
@import "./shortages";
@import "./shortages-list";
@import "./insights";
@import "./login";
@import "./video-tutorals";
@import "./about-clinigen.scss";
@import "./quality-standards.scss";
@import "./awards";
@import "./terms-conditions";
@import "./contact-us";
@import "index";
//***///
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
  font-family: "Gotham";
}
html {
  overflow-x: hidden;
}

header {
  background-color: white;
}
li {
  list-style: none;
}
h1 {
  color: $bleuFonce;
  font-size: 60px;
  line-height: 64px;
  font-weight: 700;
  @media all and (max-width: 770px) {
    font-size: 36px;
    line-height: 36px;
  }
}
h2 {
  color: $bleuFonce;
  font-size: 35px;
  @media all and (max-width: 770px) {
    font-size: 28px;
  }
}

h4 {
  color: $bleuFonce;
  font-size: 30px;
}

p {
  line-height: 25.2px;
}

.ligneVerte {
  display: inline-block;
  width: 70px;
  border-top: 2px solid $vertClair;
  margin: 15px 0;
}
