@font-face {
  font-family: "Gotham";
  src: url("../../font/GothamBook.ttf");
}
@keyframes searchBarSlideDown {
  0% {
    left: 0px;
    top: -80px;
  }
  100% {
    top: 0px;
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 85px;
}
.menu .lienMenu {
  display: flex;
  height: 100%;
  align-items: center;
  cursor: pointer;
  z-index: 5;
}
@media all and (max-width: 990px) {
  .menu .lienMenu {
    visibility: hidden;
    display: none;
  }
}
.menu .lienMenu .lienMenu_link {
  display: flex;
  align-items: center;
  margin: 0 25px 0 0;
  padding-right: 25px;
  background: url(../../img/dropdown.svg) no-repeat right;
  height: 100%;
}
.menu .lienMenu .lienMenu_link a {
  color: #270072;
  font-weight: bold;
  font-size: 15px;
}
.menu .lienMenu .linkMenu {
  padding-left: 25px;
}
.menu .lienMenu span {
  border-left: 1px solid #cacaca;
  height: 15px;
  padding-left: 20px;
}
.menu .lienMenu nav {
  height: 100%;
}
.menu .lienMenu nav .ulMenu {
  height: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.menu .btn_signIn {
  width: 130px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #8cdb1f;
  border-radius: 20px;
  color: #270072;
  font-weight: bold;
  cursor: pointer;
}
.menu .btn_signIn:hover {
  text-decoration: underline;
}
@media all and (max-width: 990px) {
  .menu .btn_signIn {
    display: none;
  }
}
.menu .signIn {
  display: none;
  visibility: hidden;
  font-size: 14px;
  color: #270072;
  font-weight: bold;
}
.menu .signIn:hover {
  text-decoration: underline;
}
@media all and (max-width: 990px) {
  .menu .signIn {
    display: inline-block;
    visibility: visible;
  }
}
@media all and (max-width: 1200px) {
  .menu {
    max-width: 1000px;
  }
}
@media all and (max-width: 990px) {
  .menu {
    max-width: 680px;
  }
}
@media all and (max-width: 770px) {
  .menu {
    max-width: 500px;
  }
}

.search {
  background-color: #7239ff;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  padding: 0 20px;
}
@media all and (max-width: 1200px) {
  .search {
    height: 85px;
  }
}
@media all and (max-width: 990px) {
  .search {
    height: 65px;
  }
}
.search input {
  background-color: #501ece;
  width: 640px;
  height: 40px;
  border-radius: 20px;
  padding-left: 30px;
  font-size: 18px;
  color: white;
}
.search input::placeholder {
  color: white;
  font-size: 18px;
}
.search input:focus {
  background-color: white;
  color: #270072;
}
.search input:focus::placeholder {
  color: #270072;
}
@media all and (max-width: 770px) {
  .search input {
    width: 450px;
  }
}
.search .search_loupe {
  display: flex;
  position: relative;
}
.search .loupe {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 50px;
  padding-left: 10px;
  padding-top: 2px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
.search .loupe:hover {
  background-color: #5713ff;
}
.search .hamburger {
  display: none;
  margin: 0 0 0 10px;
}
.search .hamburger button {
  cursor: pointer;
  background: transparent;
}
.search .hamburger button img {
  width: 35px;
}
@media all and (max-width: 990px) {
  .search .hamburger {
    display: block;
  }
}
.search .searchSignIn {
  visibility: hidden;
  position: absolute;
  right: 10px;
  height: 40px;
  width: 90px;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #8cdb1f;
  border-radius: 20px;
  color: #270072;
  font-weight: bold;
  cursor: pointer;
}
.search .searchSignIn:hover {
  text-decoration: underline;
}
@media all and (max-width: 990px) {
  .search .searchSignIn {
    display: none;
  }
}

.hamburger_menu {
  display: none;
  position: relative;
  width: 100%;
  background: white;
  z-index: 5;
}
.hamburger_menu .hamburger_menu_link {
  border-bottom: 1px solid #dadada;
  margin: 0 auto;
  width: 700px;
}
@media all and (max-width: 770px) {
  .hamburger_menu .hamburger_menu_link {
    max-width: 500px;
  }
}
.hamburger_menu .hamburger_menu_link .hamburger_menu_link_shortage,
.hamburger_menu .hamburger_menu_link .hamburger_menu_link_help,
.hamburger_menu .hamburger_menu_link .hamburger_menu_link_about {
  display: inline-block;
  width: 100%;
  color: #270072;
  font-weight: bold;
  font-size: 15px;
  background: url(../../img/dropdown.svg) no-repeat right;
  text-align: left;
  cursor: pointer;
  height: 65px;
}
.hamburger_menu .hamburger_menu_link:nth-last-child(1) {
  margin-bottom: 20px;
  padding: 20px 20px 20px 0;
}

.hamburger_sousMenu_shortages,
.hamburger_sousMenu_help,
.hamburger_sousMenu_about {
  display: none;
}
.hamburger_sousMenu_shortages li,
.hamburger_sousMenu_help li,
.hamburger_sousMenu_about li {
  background-color: #eeeeee;
  width: 700px;
  height: 55px;
}
.hamburger_sousMenu_shortages li a,
.hamburger_sousMenu_help li a,
.hamburger_sousMenu_about li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 16px 0 0 20px;
  background: url(../../img/arrow.svg) no-repeat 660px;
  color: #270072;
}
.hamburger_sousMenu_shortages li a:active,
.hamburger_sousMenu_help li a:active,
.hamburger_sousMenu_about li a:active {
  color: #7239ff;
}
.hamburger_sousMenu_shortages li:not(:nth-last-child(1)),
.hamburger_sousMenu_help li:not(:nth-last-child(1)),
.hamburger_sousMenu_about li:not(:nth-last-child(1)) {
  border-bottom: 1px solid white;
}
.hamburger_sousMenu_shortages li:hover,
.hamburger_sousMenu_help li:hover,
.hamburger_sousMenu_about li:hover {
  background-color: #e2e2e2;
}

.blur {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.61);
}

.sousMenu {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 250px;
  background: #eeeeee;
  opacity: 0;
  visibility: hidden;
  top: 85px;
}

/*
.shortages {
  left: 34%;
  float: left;
}
*/
.short:hover .shortages {
  opacity: 100;
  visibility: visible;
}

/*
.sousHelp {
  left: 665px;
}
*/
.help:hover .sousHelp {
  opacity: 100;
  visibility: visible;
}

/*
.sousAbout {
  left: 775px;
}
*/
.about:hover .sousAbout {
  opacity: 100;
  visibility: visible;
}

.sousMenu_link {
  display: inline-block;
  height: 55px;
  width: 100%;
  color: #270072;
  cursor: pointer;
  padding: 15px 0 0 20px;
}
.sousMenu_link:not(:nth-last-child(1)) {
  border-bottom: 1px solid white;
}
.sousMenu_link:hover {
  background-color: #e2e2e2;
}
.sousMenu_link a {
  display: block;
  height: 100%;
  width: 100%;
}

.search-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  animation-name: searchBarSlideDown;
  animation-duration: 0.15s;
  animation-timing-function: linear;
}

.show {
  display: block;
}

.liste_tiroir,
.cantFind {
  width: 750px;
}
.liste_tiroir .tiroir,
.cantFind .tiroir {
  border-top: 1px solid #d8d8d8;
  min-height: 55px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.liste_tiroir .tiroir button,
.cantFind .tiroir button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  text-align: left;
  color: #270072;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  padding-right: 20px;
}
.liste_tiroir .tiroir .tiroir_content,
.cantFind .tiroir .tiroir_content {
  display: none;
}
.liste_tiroir .tiroir .tiroir_content h5,
.cantFind .tiroir .tiroir_content h5 {
  font-size: 16px;
  line-height: 22.4px;
}
.liste_tiroir .tiroir .tiroir_content p,
.cantFind .tiroir .tiroir_content p {
  margin-bottom: 20px;
}
.liste_tiroir .tiroir .tiroir_fleche,
.cantFind .tiroir .tiroir_fleche {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  transition: all 0.2s ease;
  transform: rotate(-45deg);
}
.liste_tiroir .tiroir:nth-last-child(1),
.cantFind .tiroir:nth-last-child(1) {
  border-bottom: 1px solid #d8d8d8;
}
.liste_tiroir .tiroir ol li,
.cantFind .tiroir ol li {
  font-size: 16px;
}
@media all and (max-width: 1200px) {
  .liste_tiroir,
.cantFind {
    width: 600px;
  }
}
@media all and (max-width: 990px) {
  .liste_tiroir,
.cantFind {
    width: 450px;
  }
}

.showTiroir {
  display: block;
  visibility: visible;
}

.sectionAbout {
  margin: 0 auto;
  max-width: 1150px;
}
@media all and (max-width: 1200px) {
  .sectionAbout {
    max-width: 900px;
  }
}
@media all and (max-width: 990px) {
  .sectionAbout {
    max-width: 700px;
  }
}
@media all and (max-width: 770px) {
  .sectionAbout {
    max-width: 500px;
  }
}

.fil {
  display: flex;
  padding-left: 5px;
  margin: 20px 0;
  font-size: 14px;
}
.fil a {
  color: black;
}
.fil a:hover {
  text-decoration: underline;
}
.fil ol {
  display: flex;
}
.fil ol li {
  margin-right: 10px;
}
.fil ol li:not(:nth-last-child(1))::after {
  content: "/";
  margin-left: 10px;
}

.filActif {
  text-decoration: underline;
}

h2 {
  margin: 15px 0;
  max-width: 900px;
}

.btn_shortages {
  margin: 15px 0;
  height: 40px;
  width: 450px;
  background-color: #8cdb1f;
  border-radius: 20px;
  color: #270072;
  font-weight: bold;
  cursor: pointer;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn_shortages:hover {
  background-color: #270072;
  color: white;
}

.content {
  margin-bottom: 50px;
}
.content h3 {
  margin: 15px 0;
}
.content p {
  margin-bottom: 15px;
}
.content ul {
  margin: 0 0 20px 20px;
}
.content ul li {
  list-style: circle;
  padding-left: 15px;
}
.content ol {
  margin-left: 10px;
}
.content ol li {
  list-style: decimal;
  margin-bottom: 20px;
  font-size: 11px;
}
.content ol li a {
  color: #7239ff;
}
.content ol li a:hover {
  color: blue;
  text-decoration: underline;
}

.sectionShortageReport {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}
.sectionShortageReport .content h1 {
  margin-bottom: 20px;
}
.sectionShortageReport .content a {
  color: #7239ff;
}
.sectionShortageReport .content a:hover {
  color: blue;
  text-decoration: underline;
}
@media all and (max-width: 1200px) {
  .sectionShortageReport {
    max-width: 700px;
  }
}
@media all and (max-width: 770px) {
  .sectionShortageReport {
    max-width: 500px;
  }
}

.reportForm {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
}
.reportForm p {
  font-weight: bold;
}
.reportForm .formShortage {
  width: 1100px;
  padding: 40px 10px 0 10px;
}
.reportForm .formShortage label {
  margin-bottom: 10px;
}
.reportForm .formShortage .btn_petit {
  width: 95%;
  height: 50px;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  padding-left: 20px;
  font-size: 18px;
}
.reportForm .formShortage .btn_petit:focus {
  border: 1px solid black;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
}
@media all and (max-width: 770px) {
  .reportForm .formShortage .btn_petit {
    width: 100%;
  }
}
.reportForm .formShortage .form_contactDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 15px 0 20px 0;
}
.reportForm .formShortage .form_contactDetails .form_firstName,
.reportForm .formShortage .form_contactDetails .form_Surname,
.reportForm .formShortage .form_contactDetails .form_email,
.reportForm .formShortage .form_contactDetails .form_phone {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media all and (max-width: 770px) {
  .reportForm .formShortage .form_contactDetails {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
.reportForm .formShortage .form_organisation {
  margin-bottom: 40px;
}
.reportForm .formShortage .form_organisation .form_organisation_name {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 20px 0;
}
.reportForm .formShortage .form_organisation .form_organisation_name .input_form {
  display: block;
  width: 100%;
}
@media all and (max-width: 770px) {
  .reportForm .formShortage .form_organisation .form_organisation_name {
    width: 100%;
  }
}
.reportForm .formShortage .form_organisation .form_organisation_address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.reportForm .formShortage .form_organisation .form_organisation_address .adress1,
.reportForm .formShortage .form_organisation .form_organisation_address .adress2,
.reportForm .formShortage .form_organisation .form_organisation_address .city,
.reportForm .formShortage .form_organisation .form_organisation_address .postCode {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media all and (max-width: 770px) {
  .reportForm .formShortage .form_organisation .form_organisation_address {
    grid-template-columns: 1fr;
  }
}
.reportForm .formShortage .form_organisation .form_organisation_country {
  display: flex;
  flex-direction: column;
}
.reportForm .formShortage .form_organisation .form_organisation_country select {
  display: block;
  max-width: 48%;
  height: 50px;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  padding-left: 20px;
  font-size: 18px;
  margin-bottom: 20px;
}
@media all and (max-width: 770px) {
  .reportForm .formShortage .form_organisation .form_organisation_country select {
    max-width: 100%;
  }
}
.reportForm .formShortage .form_drugRequest_name {
  margin: 20px 0;
}
.reportForm .formShortage .form_drugRequest_name .genericName,
.reportForm .formShortage .form_drugRequest_name .brandName {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 98%;
}
.reportForm .formShortage .form_drugRequest_name .genericName input,
.reportForm .formShortage .form_drugRequest_name .brandName input {
  display: block;
  width: 100%;
}
.reportForm .formShortage .form_drugRequest_strengEtc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-bottom: 40px;
}
.reportForm .formShortage .form_drugRequest_strengEtc .strength,
.reportForm .formShortage .form_drugRequest_strengEtc .packSize,
.reportForm .formShortage .form_drugRequest_strengEtc .dosage,
.reportForm .formShortage .form_drugRequest_strengEtc .presentation,
.reportForm .formShortage .form_drugRequest_strengEtc .quantity,
.reportForm .formShortage .form_drugRequest_strengEtc .target,
.reportForm .formShortage .form_drugRequest_strengEtc .language {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media all and (max-width: 770px) {
  .reportForm .formShortage .form_drugRequest_strengEtc {
    grid-template-columns: 1fr;
  }
}
.reportForm .formShortage .form_drugAuthorisation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  margin-bottom: 55px;
}
.reportForm .formShortage .form_drugAuthorisation .drug_subTitle {
  font-weight: bold;
  margin: 15px 0;
}
.reportForm .formShortage .form_drugAuthorisation .form_drugAuthorisation_1 {
  display: flex;
  flex-direction: column;
}
.reportForm .formShortage .form_drugAuthorisation .form_drugAuthorisation_7 {
  max-height: 100px;
}
@media all and (max-width: 770px) {
  .reportForm .formShortage .form_drugAuthorisation {
    grid-template-columns: 1fr;
  }
}
.reportForm .formShortage .radio {
  vertical-align: middle;
  height: 30px;
  margin-right: 5px;
  outline: none;
}
@media all and (max-width: 1200px) {
  .reportForm .formShortage {
    max-width: 700px;
  }
}
@media all and (max-width: 770px) {
  .reportForm .formShortage {
    max-width: 500px;
  }
}

.textArea {
  display: flex;
  flex-direction: column;
}
.textArea textarea {
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
}
.textArea textarea:focus {
  border: 1px solid black;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
}

.termOfUse {
  margin: 20px 0;
}
.termOfUse a {
  color: #7239ff;
}
.termOfUse a:hover {
  color: blue;
  text-decoration: underline;
}

.btn_submit_form {
  background-color: #8cdb1f;
  border-radius: 20px;
  color: #270072;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  width: 220px;
  margin-bottom: 70px;
  transition: all 0.2s ease;
}
.btn_submit_form:hover {
  background-color: #270072;
  color: white;
}

.tabledrug {
  width: 1100px;
  margin: 20px auto;
}
@media all and (max-width: 1200px) {
  .tabledrug {
    max-width: 900px;
  }
}
@media all and (max-width: 991px) {
  .tabledrug {
    max-width: 700px;
  }
}
@media all and (max-width: 770px) {
  .tabledrug {
    max-width: 500px;
  }
}
.tabledrug .entete_table {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}
.tabledrug .entete_table select {
  height: 50px;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  width: 370px;
  padding-left: 20px;
  font-size: 18px;
  margin-left: 10px;
  color: #495057;
}
@media all and (max-width: 770px) {
  .tabledrug .entete_table {
    flex-wrap: wrap;
  }
}
.tabledrug table {
  display: block;
  border-collapse: collapse;
}
.tabledrug table tr {
  display: table-row;
  width: 100px;
}
.tabledrug table th {
  display: table-cell;
  color: #270072;
  text-align: left;
  padding: 1rem 1rem 0;
  border-bottom: 9px solid white;
  font-weight: normal;
}
.tabledrug table .table_ligne {
  border-bottom: 9px solid white;
  padding: 5px 0;
  background-color: #f4f4f4;
}
.tabledrug table .table_ligne:hover {
  background-color: #e4e4e4;
}
.tabledrug table td {
  padding: 5px 10px 5px 10px;
  vertical-align: top;
}
.tabledrug table td .table_link_alt {
  color: black;
}
.tabledrug table td .table_link_alt:hover {
  text-decoration: underline;
}
.tabledrug table td .table_link_request {
  color: #270072;
  font-weight: bold;
}
.tabledrug table td .table_link_request:hover {
  text-decoration: underline;
  color: black;
}
.tabledrug table td .table_link_request::after {
  content: url(../../img/arrow.svg);
}
@media all and (max-width: 770px) {
  .tabledrug table {
    overflow-x: scroll;
  }
}

.insights_contain {
  max-width: 1100px;
  margin: 0 auto 50px auto;
  padding: 0 10px;
}
@media all and (max-width: 1200px) {
  .insights_contain {
    max-width: 900px;
  }
}
@media all and (max-width: 990px) {
  .insights_contain {
    max-width: 700px;
  }
}

.content h1 {
  margin-bottom: 15px;
}
.content p {
  margin-bottom: 50px;
}
.content a {
  color: #7239ff;
}
.content a:hover {
  color: blue;
  text-decoration: underline;
}

.article_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media all and (max-width: 700px) {
  .article_list {
    width: 500px;
  }
}
.article_list .article_card {
  width: 300px;
  margin-bottom: 15px;
}
@media all and (max-width: 700px) {
  .article_list .article_card {
    width: 100%;
  }
}
.article_list .article_card img {
  width: 300px;
  height: 200px;
}
.article_list .article_card p {
  margin: 5px 0;
}
.article_list .article_card a {
  font-weight: bold;
}
.article_list .article_card a:hover {
  text-decoration: underline;
}
.article_list .article_card a:after {
  content: url(../../img/arrow.svg);
  vertical-align: middle;
}

.login_main {
  max-width: 1100px;
  background-color: white;
  margin: 50px auto 20px auto;
}
.login_main a {
  display: block;
  margin: 10px 0;
  font-weight: bold;
  color: #7239ff;
}
.login_main a:hover {
  color: blue;
  text-decoration: underline;
}
.login_main p {
  margin: 10px 0;
}

.connect {
  max-width: 1100px;
  background-color: white;
  margin: 50px auto;
  display: flex;
}
.connect img {
  margin-bottom: 40px;
}
.connect input {
  width: 300px;
  height: 40px;
  background-color: #8cdb1f;
  border-radius: 20px;
  color: #270072;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  margin-bottom: 25px;
  transition: all 0.2s ease;
}
.connect input:hover {
  color: white;
  background-color: #270072;
}
.connect h4 {
  margin-bottom: 50px;
}
.connect .connect_direct {
  flex: 0 0 50%;
  padding-right: 50px;
  border-right: 1px solid grey;
}
.connect .connect_direct .btn_register {
  background-color: transparent;
  color: #270072;
  border: 1px solid #8cdb1f;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  margin-top: 20px;
}
.connect .connect_direct .btn_register:hover {
  color: white;
  background-color: #270072;
  border: 1px solid #270072;
}
.connect .connect_cliniport {
  flex: 0 0 50%;
  padding-left: 50px;
}
.connect .connect_cliniport a {
  display: block;
  margin: 20px 0;
  font-weight: bold;
  color: #7239ff;
}
.connect .connect_cliniport a:hover {
  color: blue;
  text-decoration: underline;
}
.connect .connect_cliniport .btn_cliniport {
  width: 260px;
  height: 40px;
  background-color: #00524e;
  color: white;
  transition: all 0.2s ease;
  margin-bottom: 30px;
}
.connect .connect_cliniport .btn_cliniport:hover {
  background-color: #270072;
}

.speakLangage {
  background-color: #f4f4f4;
  width: 100%;
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speakLanguageLogin {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.speakLanguageLogin .speakLanguage_L {
  margin-right: 25px;
}
.speakLanguageLogin .speakLanguage_L p {
  margin-bottom: 20px;
}
.speakLanguageLogin .speakLanguage_L li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.speakLanguageLogin .speakLanguage_L li img {
  width: 24px;
  margin-right: 10px;
}
.speakLanguageLogin .speakLanguage_L li a {
  color: #7239ff;
}
.speakLanguageLogin .speakLanguage_L li a:hover {
  color: blue;
  text-decoration: underline;
}
.speakLanguageLogin h2 {
  margin-bottom: 25px;
}
.speakLanguageLogin img {
  width: 500px;
}
@media all and (max-width: 1200px) {
  .speakLanguageLogin {
    max-width: 900px;
  }
}
@media all and (max-width: 990px) {
  .speakLanguageLogin {
    max-width: 700px;
  }
}
@media all and (max-width: 770px) {
  .speakLanguageLogin {
    max-width: 500px;
  }
}

@media all and (max-width: 1200px) {
  .speakLanguageLogin img {
    width: 400px;
  }
}
@media all and (max-width: 990px) {
  .speakLanguageLogin img {
    width: 300px;
  }
}
@media all and (max-width: 765px) {
  .speakLanguageLogin img {
    width: 500px;
  }

  .speakLanguageLogin {
    flex-wrap: wrap;
  }

  .speakLanguage_L {
    width: 100%;
  }
}
@media all and (max-width: 1200px) {
  .login_main,
.connect {
    max-width: 900px;
  }
}
@media all and (max-width: 990px) {
  .login_main,
.connect {
    max-width: 700px;
  }

  .connect input {
    width: 250px;
    height: 55px;
    overflow-wrap: break-word;
  }
}
@media all and (max-width: 770px) {
  .login_main {
    max-width: 500px;
  }

  .connect {
    max-width: 500px;
    flex-wrap: wrap;
  }
  .connect .connect_direct {
    flex: 0 0 100%;
    border: none;
    margin-bottom: 20px;
  }
  .connect .connect_cliniport {
    padding: 0;
  }
}
.tutorial_S1 {
  width: 1100px;
  margin: 0 auto;
}
.tutorial_S1 .video_sourcing {
  display: flex;
  width: 1100px;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media all and (max-width: 1200px) {
  .tutorial_S1 .video_sourcing {
    width: 900px;
  }
}
@media all and (max-width: 990px) {
  .tutorial_S1 .video_sourcing {
    width: 700px;
  }
}
@media all and (max-width: 770px) {
  .tutorial_S1 .video_sourcing {
    width: 500px;
    padding: 0 5px;
  }
}
@media all and (max-width: 1200px) {
  .tutorial_S1 {
    width: 900px;
  }
}
@media all and (max-width: 990px) {
  .tutorial_S1 {
    width: 700px;
  }
}
@media all and (max-width: 770px) {
  .tutorial_S1 {
    width: 500px;
  }
}

.intro {
  width: 800px;
}
@media all and (max-width: 990px) {
  .intro {
    width: 700px;
  }
}
@media all and (max-width: 770px) {
  .intro {
    width: 500px;
    margin: 0 auto;
  }
}

.video_importing h4,
.video_sourcing h4 {
  margin: 0 10px 15px 0;
  border-top: 1px solid #7239ff;
  padding-top: 20px;
  width: 300px;
}
@media all and (max-width: 1200px) {
  .video_importing h4,
.video_sourcing h4 {
    width: 200px;
  }
}
@media all and (max-width: 990px) {
  .video_importing h4,
.video_sourcing h4 {
    width: 700px;
  }
}
@media all and (max-width: 770px) {
  .video_importing h4,
.video_sourcing h4 {
    width: 100%;
  }
}

.tutorial_S2 {
  background-color: #f4f4f4;
  width: 100%;
}

.content {
  margin-bottom: 50px;
}

.video_importing {
  width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media all and (max-width: 1200px) {
  .video_importing {
    width: 900px;
  }
}
@media all and (max-width: 990px) {
  .video_importing {
    width: 700px;
  }
}
@media all and (max-width: 770px) {
  .video_importing {
    width: 500px;
    padding: 0 5px;
  }
}

.list_cardVideo {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-between;
}
.list_cardVideo .cardVideo {
  width: 370px;
  min-height: 300px;
}
.list_cardVideo .cardVideo iframe {
  width: 100%;
  height: 225px;
}
@media all and (max-width: 1200px) {
  .list_cardVideo .cardVideo iframe {
    height: 170px;
  }
}
@media all and (max-width: 770px) {
  .list_cardVideo .cardVideo iframe {
    width: 100%;
    height: 300px;
  }
}
.list_cardVideo .cardVideo h5 {
  margin: 10px 0;
  font-size: 15px;
}
.list_cardVideo .cardVideo a {
  display: block;
  font-weight: bold;
  background: url(../../img/arrow.svg) no-repeat 80px;
  color: #501ece;
}
.list_cardVideo .cardVideo a:hover {
  text-decoration: underline;
}
.list_cardVideo .cardVideo:nth-child(1) {
  margin-bottom: 20px;
}
@media all and (max-width: 1200px) {
  .list_cardVideo .cardVideo {
    width: 330px;
  }
}
@media all and (max-width: 770px) {
  .list_cardVideo .cardVideo {
    width: 100%;
  }
}
@media all and (max-width: 1200px) {
  .list_cardVideo {
    width: 75%;
  }
}
@media all and (max-width: 990px) {
  .list_cardVideo {
    width: 100%;
  }
}

.aboutClinigenDirect {
  margin: 0 auto;
  max-width: 1150px;
}
@media all and (max-width: 1200px) {
  .aboutClinigenDirect {
    max-width: 900px;
  }
}
@media all and (max-width: 990px) {
  .aboutClinigenDirect {
    max-width: 700px;
  }
}
@media all and (max-width: 770px) {
  .aboutClinigenDirect {
    max-width: 500px;
  }
}

.titreAboutClinigen {
  margin: 0 auto;
  max-width: 1150px;
}
@media all and (max-width: 1200px) {
  .titreAboutClinigen {
    max-width: 900px;
  }
}
@media all and (max-width: 990px) {
  .titreAboutClinigen {
    max-width: 700px;
  }
}
@media all and (max-width: 770px) {
  .titreAboutClinigen {
    max-width: 500px;
  }
}

.who_we_are_flex,
.what_is_Cliniport {
  margin: 10px auto 0 auto;
  max-width: 1150px;
  display: flex;
  margin-bottom: 20px;
}
.who_we_are_flex p,
.what_is_Cliniport p {
  margin: 15px 0;
}
.who_we_are_flex li,
.what_is_Cliniport li {
  margin: 20px 0;
}
.who_we_are_flex a,
.what_is_Cliniport a {
  font-weight: bold;
  color: #7239ff;
}
.who_we_are_flex a:hover,
.what_is_Cliniport a:hover {
  text-decoration: underline;
  color: blue;
}
.who_we_are_flex iframe,
.what_is_Cliniport iframe {
  width: 350px;
  height: 200px;
}
@media all and (max-width: 1200px) {
  .who_we_are_flex iframe,
.what_is_Cliniport iframe {
    width: 300px;
    height: 160px;
  }
}
@media all and (max-width: 990px) {
  .who_we_are_flex iframe,
.what_is_Cliniport iframe {
    width: 210px;
    height: 115px;
  }
}
@media all and (max-width: 990px) {
  .who_we_are_flex iframe,
.what_is_Cliniport iframe {
    width: 100%;
    height: 300px;
  }
}
@media all and (max-width: 1200px) {
  .who_we_are_flex,
.what_is_Cliniport {
    max-width: 900px;
  }
}
@media all and (max-width: 990px) {
  .who_we_are_flex,
.what_is_Cliniport {
    max-width: 700px;
  }
}
@media all and (max-width: 770px) {
  .who_we_are_flex,
.what_is_Cliniport {
    max-width: 500px;
    flex-wrap: wrap;
  }
}

.what_is_clinigen_direct {
  margin: 0 auto;
  max-width: 1150px;
  margin-bottom: 20px;
}
.what_is_clinigen_direct p {
  margin: 15px 0;
}
.what_is_clinigen_direct li {
  margin: 20px 0;
}
.what_is_clinigen_direct a {
  font-weight: bold;
  color: #7239ff;
}
.what_is_clinigen_direct a:hover {
  text-decoration: underline;
  color: blue;
}
@media all and (max-width: 1200px) {
  .what_is_clinigen_direct {
    max-width: 900px;
  }
}
@media all and (max-width: 990px) {
  .what_is_clinigen_direct {
    max-width: 700px;
  }
}
@media all and (max-width: 770px) {
  .what_is_clinigen_direct {
    max-width: 500px;
  }
}

.who_we_are_flex_text,
.what_is_Cliniport_text {
  margin-right: 20px;
}

.what_is_clinigen_direct_text {
  width: 800px;
}
@media all and (max-width: 1200px) {
  .what_is_clinigen_direct_text {
    max-width: 600px;
  }
}
@media all and (max-width: 990px) {
  .what_is_clinigen_direct_text {
    max-width: 700px;
  }
}
@media all and (max-width: 770px) {
  .what_is_clinigen_direct_text {
    max-width: 500px;
  }
}

.aboutClinigen_footer {
  background-color: #7239ff;
  color: white;
  padding: 40px 0;
}
.aboutClinigen_footer .aboutClinigen_footer_content {
  margin: 0 auto;
  width: 1100px;
  display: flex;
}
.aboutClinigen_footer .aboutClinigen_footer_content .aboutClinigen_footer_video {
  width: 730px;
  height: 400px;
  margin-right: 20px;
}
.aboutClinigen_footer .aboutClinigen_footer_content .aboutClinigen_footer_video iframe {
  width: 100%;
  height: 100%;
}
@media all and (max-width: 1200px) {
  .aboutClinigen_footer .aboutClinigen_footer_content .aboutClinigen_footer_video {
    width: 600px;
    height: 300px;
  }
}
@media all and (max-width: 770px) {
  .aboutClinigen_footer .aboutClinigen_footer_content .aboutClinigen_footer_video {
    width: 100%;
    margin-bottom: 20px;
  }
}
.aboutClinigen_footer .aboutClinigen_footer_content .aboutClinigen_footer_text {
  width: 300px;
}
.aboutClinigen_footer .aboutClinigen_footer_content .aboutClinigen_footer_text h3 {
  font-size: 30px;
  line-height: 33px;
  margin-bottom: 20px;
}
@media all and (max-width: 770px) {
  .aboutClinigen_footer .aboutClinigen_footer_content .aboutClinigen_footer_text {
    width: 100%;
  }
}
@media all and (max-width: 1200px) {
  .aboutClinigen_footer .aboutClinigen_footer_content {
    max-width: 900px;
  }
}
@media all and (max-width: 990px) {
  .aboutClinigen_footer .aboutClinigen_footer_content {
    max-width: 700px;
  }
}
@media all and (max-width: 770px) {
  .aboutClinigen_footer .aboutClinigen_footer_content {
    max-width: 500px;
    flex-wrap: wrap;
  }
}
.aboutClinigen_footer a {
  color: white;
}

ol {
  margin-left: 20px;
}

.list_number {
  list-style: decimal;
}

.quality_card ul li {
  list-style: circle;
  margin-left: 20px;
}

.quality_systemEnsure ul li {
  list-style: circle;
  margin-left: 20px;
}

.love_awards {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.love_awards img {
  width: 500px;
}
.love_awards .love_awards_middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 400px;
  max-width: 400px;
}
.love_awards .love_awards_middle h1 {
  line-height: 56px;
}
.love_awards .love_awards_middle p {
  width: 300px;
  margin: 10px 0;
}
.love_awards .love_awards_middle input {
  background-color: #8cdb1f;
  border-radius: 20px;
  color: #270072;
  font-weight: bold;
  cursor: pointer;
  width: 320px;
  height: 55px;
  border-radius: 50px;
  transition: all 0.2s ease;
}
.love_awards .love_awards_middle input:hover {
  background-color: #270072;
  color: white;
}
@media all and (max-width: 770px) {
  .love_awards {
    flex-wrap: wrap;
  }
  .love_awards .love_awards_middle {
    order: 1;
  }
  .love_awards .love_awards_middle h1 {
    line-height: 35px;
  }
  .love_awards .love_awards_middle input {
    height: 40px;
  }
  .love_awards .img_women {
    order: 2;
    width: 500px;
  }
}
@media all and (max-width: 1200px) {
  .love_awards img {
    width: 450px;
  }
}
@media all and (max-width: 990px) {
  .love_awards img {
    width: 400px;
  }
}

.img_women {
  position: relative;
  top: 10px;
}

.img_men {
  position: relative;
  top: 25px;
}
@media all and (max-width: 770px) {
  .img_men {
    display: none;
  }
}

.award_2020 {
  background-color: #f4f4f4;
  min-height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.award_2020 .award_2020_middle {
  max-width: 900px;
}
.award_2020 .award_2020_middle .btn_violet {
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid #7239ff;
  border-radius: 20px;
  color: #7239ff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 350px;
  height: 40px;
}
.award_2020 .award_2020_middle .btn_violet:hover {
  background-color: #7239ff;
  color: white;
}
@media all and (max-width: 1200px) {
  .award_2020 .award_2020_middle {
    max-width: 700px;
  }
}
@media all and (max-width: 990px) {
  .award_2020 .award_2020_middle {
    max-width: 500px;
  }
}
@media all and (max-width: 770px) {
  .award_2020 {
    min-height: 300px;
  }
}

.award_categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.award_categories .award_categories_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 950px;
}
.award_categories .award_categories_list .award_categories_card {
  padding: 0 10px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.award_categories .award_categories_list .award_categories_card h2 {
  margin-bottom: 10px;
  font-size: 30px;
}
.award_categories .award_categories_list .award_categories_card img {
  width: 250px;
}
@media all and (max-width: 1200px) {
  .award_categories .award_categories_list .award_categories_card img {
    width: 200px;
  }
}
@media all and (max-width: 1200px) {
  .award_categories .award_categories_list .award_categories_card img {
    width: 150px;
  }
}
@media all and (max-width: 770px) {
  .award_categories .award_categories_list .award_categories_card {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .award_categories .award_categories_list .award_categories_card img {
    width: 450px;
  }
}
@media all and (max-width: 1200px) {
  .award_categories .award_categories_list {
    width: 800px;
  }
}
@media all and (max-width: 990px) {
  .award_categories .award_categories_list {
    width: 700px;
  }
}
@media all and (max-width: 770px) {
  .award_categories .award_categories_list {
    width: 500px;
  }
}
.award_categories .btn_violet {
  background-color: transparent;
  border: 1px solid #7239ff;
  border-radius: 20px;
  color: #7239ff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 175px;
  height: 40px;
  margin: 50px 0;
}
.award_categories .btn_violet:hover {
  background-color: #7239ff;
  color: white;
}

.entryCriteria {
  background-color: #7239ff;
  min-height: 400px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.entryCriteria .entryCriteria_middle {
  width: 700px;
}
@media all and (max-width: 1200px) {
  .entryCriteria .entryCriteria_middle {
    width: 600px;
  }
}
@media all and (max-width: 990px) {
  .entryCriteria .entryCriteria_middle {
    width: 500px;
  }
}
.entryCriteria h2 {
  color: white;
}
.entryCriteria .btn_blanc {
  margin: 15px 0;
  width: 300px;
  height: 40px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  font-weight: bold;
  transition: all 0.2s ease;
  cursor: pointer;
}
.entryCriteria .btn_blanc:hover {
  background-color: white;
  color: #270072;
}
@media all and (max-width: 770px) {
  .entryCriteria {
    min-height: 350px;
  }
}

.terms_conditions_content {
  max-width: 1100px;
  margin: 0 auto;
}
.terms_conditions_content .terms_conditions,
.terms_conditions_content .eligibility_criteria,
.terms_conditions_content .assesment_criteria,
.terms_conditions_content .nominate,
.terms_conditions_content .award_process,
.terms_conditions_content .privacy,
.terms_conditions_content .miscellaneous {
  width: 800px;
}
.terms_conditions_content .terms_conditions p,
.terms_conditions_content .eligibility_criteria p,
.terms_conditions_content .assesment_criteria p,
.terms_conditions_content .nominate p,
.terms_conditions_content .award_process p,
.terms_conditions_content .privacy p,
.terms_conditions_content .miscellaneous p {
  margin: 10px 0;
}
@media all and (max-width: 1200px) {
  .terms_conditions_content .terms_conditions,
.terms_conditions_content .eligibility_criteria,
.terms_conditions_content .assesment_criteria,
.terms_conditions_content .nominate,
.terms_conditions_content .award_process,
.terms_conditions_content .privacy,
.terms_conditions_content .miscellaneous {
    width: 700px;
  }
}
@media all and (max-width: 770px) {
  .terms_conditions_content .terms_conditions,
.terms_conditions_content .eligibility_criteria,
.terms_conditions_content .assesment_criteria,
.terms_conditions_content .nominate,
.terms_conditions_content .award_process,
.terms_conditions_content .privacy,
.terms_conditions_content .miscellaneous {
    max-width: 470px;
  }
}
@media all and (max-width: 1200px) {
  .terms_conditions_content {
    padding-left: 25px;
    max-width: 900px;
  }
}
@media all and (max-width: 990px) {
  .terms_conditions_content {
    max-width: 700px;
  }
}
@media all and (max-width: 770px) {
  .terms_conditions_content {
    max-width: 500px;
  }
}

.list_countries {
  border: 1px solid black;
  padding: 0px 10px;
}
.list_countries table {
  width: 100%;
}

.miscellaneous {
  margin-bottom: 100px;
}

.contact_card {
  display: flex;
}
.contact_card h2 {
  border-top: 1px solid #7239ff;
  padding-top: 20px;
  width: 205px;
  font-size: 30px;
  margin-right: 15px;
}
.contact_card ul {
  margin-top: 15px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 15px;
  width: 400px;
}
.contact_card ul li {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 10px 0;
  color: #270072;
}
.contact_card ul li img {
  margin-right: 10px;
}
@media all and (max-width: 990px) {
  .contact_card {
    flex-wrap: wrap;
  }
  .contact_card h2 {
    width: 100%;
  }
  .contact_card ul {
    margin-left: 0;
    margin-top: 5px;
  }
}

.winners_stories {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5px;
}
@media all and (max-width: 1200px) {
  .winners_stories {
    max-width: 900px;
  }
}
@media all and (max-width: 990px) {
  .winners_stories {
    max-width: 700px;
  }
}
@media all and (max-width: 770px) {
  .winners_stories {
    max-width: 500px;
  }
}
.winners_stories .winners_stories_title {
  text-align: center;
  border-bottom: 2px solid #8cdb1f;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.winners_stories iframe {
  margin-top: 30px;
  width: 700px;
  height: 400px;
}
@media all and (max-width: 770px) {
  .winners_stories iframe {
    max-width: 500px;
  }
}
.winners_stories .winners_stories_list {
  margin: 40px 0 0 0;
}
.winners_stories .winners_stories_list .winners_stories_card {
  display: flex;
  border-top: 2px solid #8cdb1f;
  padding: 45px 0;
}
.winners_stories .winners_stories_list .winners_stories_card p {
  margin: 15px 0;
}
.winners_stories .winners_stories_list .winners_stories_card .winners_stories_card_L {
  width: 1100px;
  margin-right: 50px;
}
@media all and (max-width: 770px) {
  .winners_stories .winners_stories_list .winners_stories_card {
    flex-wrap: wrap;
    justify-content: center;
  }
  .winners_stories .winners_stories_list .winners_stories_card .winners_stories_card_R {
    margin-top: 20px;
  }
  .winners_stories .winners_stories_list .winners_stories_card .winners_stories_card_L {
    margin-right: 5px;
  }
}

.winners_stories_footer {
  text-align: center;
  margin: 40px 0 80px;
  border-bottom: 2px solid #8cdb1f;
  border-top: 2px solid #8cdb1f;
  padding: 40px 5px;
}
.winners_stories_footer h2 {
  font-size: 40px;
}
.winners_stories_footer p {
  margin: 15px 0;
}
.winners_stories_footer .btn_vert {
  background-color: #8cdb1f;
  border-radius: 20px;
  color: #270072;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  width: 350px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.winners_stories_footer .btn_vert:hover {
  color: white;
  background-color: #270072;
}

.winners_stories_footer_violet {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #7239ff;
}
.winners_stories_footer_violet .winners_stories_footer_violet_content {
  color: white;
  width: 750px;
  margin: 50px 0 50px 0;
}
.winners_stories_footer_violet .winners_stories_footer_violet_content h2 {
  color: white;
  font-size: 40px;
}
.winners_stories_footer_violet .winners_stories_footer_violet_content p {
  margin: 15px 0;
}
.winners_stories_footer_violet .winners_stories_footer_violet_content input {
  color: white;
  background: transparent;
  border-radius: 40px;
  border: 1px solid white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 20px 0 40px 0;
  width: 250px;
  height: 40px;
}
.winners_stories_footer_violet .winners_stories_footer_violet_content input:hover {
  background-color: white;
  color: #270072;
}
@media all and (max-width: 1200px) {
  .winners_stories_footer_violet .winners_stories_footer_violet_content {
    width: 550px;
  }
}
@media all and (max-width: 990px) {
  .winners_stories_footer_violet .winners_stories_footer_violet_content {
    width: 450px;
  }
}

.section1 .section1__container1 {
  display: block;
  padding-top: 60px;
  width: 600px;
  text-align: center;
  height: 520px;
  margin: 0 auto;
  background-color: transparent;
}
.section1 .section1__container1 p {
  width: 400px;
  margin: 15px auto 0 auto;
}
.section1 .section1__container1 span {
  font-weight: bold;
}
@media all and (max-width: 770px) {
  .section1 .section1__container1 {
    padding-top: 20px;
    width: 500px;
  }
  .section1 .section1__container1 p {
    width: 500px;
  }
}
.section1 img {
  width: 700px;
  height: 500px;
}
.section1 .section1__container2 {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto 25px auto;
  min-height: 310px;
}
.section1 .section1__container2 h2 {
  width: 400px;
  margin-top: 50px;
}
.section1 .section1__container2 p {
  margin: 20px 0 20px 0;
  width: 400px;
}
@media all and (max-width: 1200px) {
  .section1 .section1__container2 {
    max-width: 900px;
  }
}
@media all and (max-width: 990px) {
  .section1 .section1__container2 {
    max-width: 700px;
  }
}
@media all and (max-width: 770px) {
  .section1 .section1__container2 {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 650px;
  }
  .section1 .section1__container2 p {
    margin: 20px auto;
  }
}
.section1 .section1__container2 .section1__container2_L {
  text-align: left;
}
.section1 .section1__container2 .section1__container2_L h2 {
  width: 500px;
  margin-top: 100px;
  margin: 100px auto 0 auto;
}
@media all and (max-width: 990px) {
  .section1 .section1__container2 .section1__container2_L h2 {
    margin: 0;
    width: 300px;
  }
}
@media all and (max-width: 770px) {
  .section1 .section1__container2 .section1__container2_L h2 {
    margin: 100px auto 0 auto;
    width: 600px;
  }
}
@media all and (max-width: 770px) {
  .section1 .section1__container2 .section1__container2_L {
    text-align: center;
  }
}
.section1 .img-left {
  position: absolute;
  transform: scale(1.5);
  right: 80%;
  z-index: -2;
}
@media all and (max-width: 1200px) {
  .section1 .img-left {
    width: 600px;
    right: 80%;
  }
}
@media all and (max-width: 990px) {
  .section1 .img-left {
    width: 550px;
    right: 85%;
  }
}
@media all and (max-width: 770px) {
  .section1 .img-left {
    transform: scale(1.3);
    top: 47%;
    right: 25%;
  }
}
.section1 .img-right {
  position: absolute;
  transform: scale(2.7);
  left: 90%;
  top: 210px;
  z-index: -2;
  width: 300px;
}
@media all and (max-width: 1200px) {
  .section1 .img-right {
    width: 280px;
    left: 90%;
  }
}
@media all and (max-width: 990px) {
  .section1 .img-right {
    width: 250px;
    left: 95%;
  }
}
@media all and (max-width: 770px) {
  .section1 .img-right {
    display: none;
  }
}
.section1 .img-woman {
  margin-left: 180px;
  transform: scale(1.5);
  max-height: 310px;
  z-index: -2;
}
@media all and (max-width: 1200px) {
  .section1 .img-woman {
    margin-left: 100px;
  }
}
@media all and (max-width: 990px) {
  .section1 .img-woman {
    margin-left: 10px;
  }
}
@media all and (max-width: 770px) {
  .section1 .img-woman {
    transform: scale(1.4);
  }
}
.section1 .btn_findOutMore {
  background-color: #8cdb1f;
  border-radius: 20px;
  color: #270072;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-emphasis: center;
  font-size: 14px;
  width: 200px;
  height: 40px;
  transition: all 0.2s ease;
}
.section1 .btn_findOutMore:hover {
  color: white;
  background-color: #270072;
}
@media all and (max-width: 770px) {
  .section1 .btn_findOutMore {
    margin-bottom: 50px;
  }
}

.section2 {
  min-height: 1300px;
  background-color: #f4f4f4;
  padding: 25px 70px;
}
.section2 .section2__titreText {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}
@media all and (max-width: 770px) {
  .section2 .section2__titreText {
    max-width: 500px;
  }
}
.section2 h2 {
  max-width: 540px;
  margin: 0 auto 10px auto;
}
@media all and (max-width: 770px) {
  .section2 h2 {
    margin: 0 0 10px 0;
  }
}
.section2 .flexCard {
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  margin: 20px auto;
  flex-wrap: wrap;
}
.section2 .flexCard .card {
  background-color: #fff;
  width: 340px;
  min-height: 475px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  text-align: center;
  padding: 30px 20px;
  color: #270072;
  font-size: 16px;
  margin-bottom: 20px;
}
.section2 .flexCard .card h4 {
  margin-top: 10px;
  font-size: 30px;
}
.section2 .flexCard .card p {
  margin: 15px 0;
}
.section2 .flexCard .card ul {
  margin-left: 20px;
}
.section2 .flexCard .card li {
  margin: 25px 0 25px 15px;
  text-align: left;
  position: relative;
}
.section2 .flexCard .card li::before {
  content: "";
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  background: url("../../img/li.svg") no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: -2em;
}
@media all and (max-width: 1200px) {
  .section2 .flexCard .card {
    width: 275px;
  }
}
@media all and (max-width: 970px) {
  .section2 .flexCard .card {
    width: 340px;
  }
}
@media all and (max-width: 770px) {
  .section2 .flexCard .card {
    width: 500px;
  }
}
@media all and (max-width: 1200px) {
  .section2 .flexCard {
    max-width: 700px;
  }
}
.section2 .videoText {
  display: flex;
  max-width: 1100px;
  margin: 70px auto;
}
.section2 .videoText .video {
  display: inline-block;
  max-width: 730px;
  height: 410px;
  margin: 0 25px 0 0;
}
.section2 .videoText .labelVideo {
  max-width: 340px;
}
.section2 .videoText .labelVideo h4 {
  margin-bottom: 80px;
}
.section2 .videoText .labelVideo p {
  font-size: 18px;
}
@media all and (max-width: 770px) {
  .section2 .videoText .labelVideo {
    min-width: 100%;
  }
}
@media all and (max-width: 1200px) {
  .section2 iframe {
    position: relative;
    top: -65px;
    width: 500px;
  }
  .section2 .videoText {
    max-width: 700px;
  }
}
@media all and (max-width: 765px) {
  .section2 .videoText {
    max-width: 500px;
    flex-wrap: wrap;
    margin: 20px auto;
  }
  .section2 .videoText .video {
    margin: 0;
  }
  .section2 iframe {
    top: 50px;
  }
}

.speakLanguage {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}
.speakLanguage .speakLanguage_L {
  width: 500px;
  margin-right: 25px;
}
.speakLanguage h2 {
  margin-bottom: 25px;
}
.speakLanguage img {
  width: 500px;
}
@media all and (max-width: 1200px) {
  .speakLanguage {
    max-width: 700px;
  }
}

@media all and (max-width: 1200px) {
  .speakLanguage img {
    width: 300px;
  }
}
@media all and (max-width: 765px) {
  .speakLanguage img {
    width: 500px;
  }

  .speakLanguage {
    flex-wrap: wrap;
  }

  .speakLanguage_L {
    width: 100%;
  }
}
.helpingJob_container {
  background-color: #f4f4f4;
  min-height: 565px;
  padding: 50px 0;
}

.helpingJob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1100px;
  flex-wrap: wrap;
}
.helpingJob img {
  width: 350px;
}
.helpingJob .helpingJob_L {
  padding-right: 20px;
}
.helpingJob .helpingJob_R h2 {
  margin-bottom: 35px;
  width: 600px;
}
@media all and (max-width: 770px) {
  .helpingJob .helpingJob_R h2 {
    max-width: 500px;
  }
}
.helpingJob .helpingJob_R .helpingJob_R_point {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.helpingJob .helpingJob_R .helpingJob_R_point .helpingJob_R_point_card {
  position: relative;
  max-width: 350px;
  margin-bottom: 10px;
  padding-left: 3em;
  counter-increment: counted-list;
  line-height: 25.2px;
}
.helpingJob .helpingJob_R .helpingJob_R_point .helpingJob_R_point_card::before {
  content: counter(counted-list);
  position: absolute;
  left: 0px;
  color: #fff;
  font-size: 1.25em;
  line-height: 1.7;
  width: 40px;
  height: 40px;
  background: #7239ff;
  text-align: center;
  border-radius: 20px;
}
@media all and (max-width: 770px) {
  .helpingJob .helpingJob_R .helpingJob_R_point .helpingJob_R_point_card {
    max-width: 100%;
  }
}
@media all and (max-width: 770px) {
  .helpingJob .helpingJob_R .helpingJob_R_point {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
@media all and (max-width: 770px) {
  .helpingJob .helpingJob_R {
    max-width: 500px;
  }
}

@media all and (max-width: 1200px) {
  .helpingJob {
    justify-content: center;
    align-items: center;
  }
  .helpingJob img {
    width: 450px;
  }
}
@media all and (max-width: 765px) {
  .helpingJob {
    padding: 0 55px;
    max-width: 700px;
  }
  .helpingJob img {
    width: 350px;
  }
}
.slider {
  position: relative;
  min-height: 450px;
  background-color: #7239ff;
}
.slider .slider1 {
  visibility: visible;
  position: absolute;
  width: 1100px;
  text-align: center;
  padding: 65px 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s ease;
}
.slider .slider2 {
  visibility: visible;
  position: absolute;
  width: 1100px;
  text-align: center;
  padding: 65px 0;
  top: 0;
  left: 100%;
  transition: all 1s ease;
}
.slider .slider3 {
  visibility: visible;
  position: absolute;
  width: 1100px;
  text-align: center;
  top: 0;
  left: 100%;
  padding: 65px 0;
  transition: all 1s ease;
}
.slider .slider_message {
  font-size: 38px;
  color: white;
  line-height: 48px;
  width: 800px;
  margin: 15px auto;
}
@media all and (max-width: 770px) {
  .slider .slider_message {
    font-size: 22px;
    width: 500px;
    line-height: 48px;
  }
}
.slider .slider_author {
  color: white;
  font-style: 18px;
  font-style: italic;
}
.slider .slider_dot {
  position: relative;
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  top: 400px;
}
.slider .slider_dot .slider_dot_1 {
  display: inline-block;
  border: 1px solid white;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 20px;
  margin: 0 4px;
  opacity: 1;
  background-color: #fff;
}
.slider .slider_dot .slider_dot_2,
.slider .slider_dot .slider_dot_3 {
  display: inline-block;
  border: 1px solid white;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 20px;
  margin: 0 4px;
  opacity: 1;
  background-color: transparent;
}

.personnalAssistant {
  min-height: 700px;
  background-color: #f4f4f4;
}
.personnalAssistant .personnalAssistant_title {
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
  padding-top: 20px;
}
.personnalAssistant .personnalAssistant_title h2 {
  margin-bottom: 20px;
}
@media all and (max-width: 770px) {
  .personnalAssistant .personnalAssistant_title {
    max-width: 550px;
  }
}
.personnalAssistant .personnalAssistant_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  margin: 25px auto 0 auto;
  padding-bottom: 25px;
}
.personnalAssistant .personnalAssistant_list .personnalAssistant_card {
  flex: 0 0 50%;
  padding: 15px;
}
.personnalAssistant .personnalAssistant_list .personnalAssistant_card h2 {
  margin-bottom: 10px;
}
@media all and (max-width: 765px) {
  .personnalAssistant .personnalAssistant_list .personnalAssistant_card {
    flex: 0 0 100%;
    text-align: center;
  }
}
@media all and (max-width: 1200px) {
  .personnalAssistant .personnalAssistant_list {
    max-width: 700px;
  }
}
@media all and (max-width: 770px) {
  .personnalAssistant .personnalAssistant_list {
    max-width: 550px;
  }
}

.helpUs {
  background-color: #7239ff;
  color: white;
  height: 400px;
  display: flex;
  align-items: center;
}
.helpUs .helpUs_container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.helpUs .helpUs_container h2 {
  color: white;
  margin-bottom: 10px;
}
.helpUs .helpUs_container p {
  margin-bottom: 25px;
  width: 640px;
}
@media all and (max-width: 770px) {
  .helpUs .helpUs_container p {
    width: 550px;
  }
}
.helpUs .helpUs_container input {
  color: white;
  background: transparent;
  border-radius: 40px;
  border: 1px solid white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 400px;
  height: 40px;
  padding-bottom: 2px;
}
.helpUs .helpUs_container input:hover {
  background-color: white;
  color: #270072;
}
@media all and (max-width: 770px) {
  .helpUs .helpUs_container {
    width: 550px;
  }
}
@media all and (max-width: 770px) {
  .helpUs {
    height: 300px;
  }
}

footer {
  padding: 20px;
  background-color: #270072;
  min-height: 725px;
}
footer h5 {
  color: #8cdb1f;
  margin: 15px 0;
  line-height: 18px;
  font-size: 16px;
}
footer img {
  margin-top: 15px;
}
footer a {
  color: white;
}
footer .footer_container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 25px;
  min-height: 725px;
}
footer .footer_container .footer_container_liste {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
footer .footer_container .footer_container_liste li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  max-width: 200px;
  line-height: 22px;
  font-size: 16px;
  color: white;
}
footer .footer_container .footer_container_liste li img {
  margin: 0 8px 0 0;
}
footer .footer_container .footer_container_liste a:hover {
  text-decoration: underline;
}
@media all and (max-width: 990px) {
  footer .footer_container .footer_container_liste .footer_container_card:not(:nth-last-child(1)) {
    width: 100px;
  }
  footer .footer_container .footer_container_liste .footer_container_card img {
    max-width: 150px;
  }
}
@media all and (max-width: 990px) {
  footer .footer_container {
    max-width: 600px;
  }
}
footer .footer_container .footer_liens {
  margin-bottom: 10px;
}
footer .footer_container .footer_liens a {
  margin-right: 15px;
  font-size: 14px;
}
footer .footer_container .footer_liens a:hover {
  text-decoration: underline;
}
footer .footer_container .copyright p {
  color: white;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
  font-family: "Gotham";
}

html {
  overflow-x: hidden;
}

header {
  background-color: white;
}

li {
  list-style: none;
}

h1 {
  color: #270072;
  font-size: 60px;
  line-height: 64px;
  font-weight: 700;
}
@media all and (max-width: 770px) {
  h1 {
    font-size: 36px;
    line-height: 36px;
  }
}

h2 {
  color: #270072;
  font-size: 35px;
}
@media all and (max-width: 770px) {
  h2 {
    font-size: 28px;
  }
}

h4 {
  color: #270072;
  font-size: 30px;
}

p {
  line-height: 25.2px;
}

.ligneVerte {
  display: inline-block;
  width: 70px;
  border-top: 2px solid #8cdb1f;
  margin: 15px 0;
}

/*# sourceMappingURL=style.css.map */
