.sectionAbout {
  margin: 0 auto;
  max-width: 1150px;
  @media all and (max-width: 1200px) {
    max-width: 900px;
  }
  @media all and (max-width: 990px) {
    max-width: 700px;
  }
}

.fil {
  display: flex;
  padding-left: 5px;
  margin: 20px 0;
  font-size: 14px;
  a {
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
  ol {
    display: flex;
    li {
      margin-right: 10px;
      &:nth-last-child(1) {
        &::before {
          content: "/";
          margin-right: 10px;
        }
      }
    }
  }
}
.filActif {
  text-decoration: underline;
}

h2 {
  margin: 15px 0;
  max-width: 900px;
}

.btn_shortages {
  margin: 15px 0;
  height: 40px;
  width: 450px;
  @include btn_vert;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    background-color: $bleuFonce;
    color: white;
  }
}
.content {
  margin-bottom: 50px;
  h3 {
    margin: 15px 0;
  }
  p {
    margin-bottom: 15px;
  }
  ul {
    margin: 0 0 20px 20px;
    li {
      list-style: circle;
      padding-left: 15px;
    }
  }
  ol {
    margin-left: 10px;
    li {
      list-style: decimal;
      margin-bottom: 20px;
      font-size: 11px;
      a {
        color: $violetClair;
        &:hover {
          color: blue;
          text-decoration: underline;
        }
      }
    }
  }
}
