.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  //padding: 23px 36px;
  height: 85px;
  .lienMenu {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    .lienMenu_link {
      display: flex;
      align-items: center;
      margin: 0 25px;
      padding-right: 25px;
      background: url(/img/dropdown.svg) no-repeat right;
      height: 100%;
      a {
        color: #270072;
        font-weight: bold;
        font-size: 15px;
      }
    }
    span {
      border-left: 1px solid rgb(202, 202, 202);
      height: 15px;
      padding-left: 20px;
    }
    nav {
      height: 100%;
      .ulMenu {
        height: 100%;
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }
  input {
    width: 130px;
    height: 40px;
    cursor: pointer;
    @include btn_vert;
    &:hover {
      text-decoration: underline;
    }
  }
}

.search {
  background-color: $violetClair;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    background-color: $violetFonce;
    width: 640px;
    height: 40px;
    border-radius: 20px;
    padding-left: 30px;
    &::placeholder {
      color: white;
      font-size: 18px;
    }
  }
}

.sousMenu {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 250px;
  background: rgb(226, 226, 226);
  opacity: 0;
  visibility: hidden;
  top: 85px;
}

.shortages {
  left: 800px;
  float: left;
}
.short:hover {
  .shortages {
    opacity: 100;
    visibility: visible;
  }
}

.sousHelp {
  left: 665px;
}
.help:hover {
  .sousHelp {
    opacity: 100;
    visibility: visible;
  }
}

.sousAbout {
  left: 775px;
}
.about:hover {
  .sousAbout {
    opacity: 100;
    visibility: visible;
  }
}

.sousMenu_link {
  display: inline-block;
  height: 55px;
  width: 100%;
  color: $bleuFonce;
  cursor: pointer;
  padding: 15px 0 0 20px;
  &:not(:nth-last-child(1)) {
    border-bottom: 1px solid white;
  }
  &:hover {
    background-color: rgb(197, 197, 197);
  }
}
