.section1 {
  .section1__container1 {
    display: block;
    padding-top: 60px;
    width: 600px;
    text-align: center;
    height: 520px;
    margin: 0 auto;
    background-color: transparent;
    p {
      width: 400px;
      margin: 15px auto 0 auto;
    }
    span {
      font-weight: bold;
    }
    @media all and (max-width: 770px) {
      padding-top: 20px;
      width: 500px;
      p {
        width: 500px;
      }
    }
  }
  img {
    width: 700px;
    height: 500px;
  }
  .section1__container2 {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto 25px auto;
    height: 310px;
    h2 {
      width: 400px;
      margin-top: 50px;
    }
    p {
      margin: 20px 0 20px 0;
      width: 400px;
    }
    @media all and (max-width: 1200px) {
      max-width: 900px;
    }
    @media all and (max-width: 990px) {
      max-width: 700px;
    }
    @media all and (max-width: 770px) {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      min-height: 650px;
      p {
        margin: 20px auto;
      }
    }
    .section1__container2_L {
      text-align: left;
      h2 {
        width: 500px;
        margin-top: 100px;
      }
      @media all and (max-width: 770px) {
        text-align: center;
      }
    }
  }

  // @media all and (max-width: 1200px) {
  //   .section1__container2 {
  //     max-width: 1000px;
  //   }
  // }
  // @media all and (max-width: 990px) {
  //   .section1__container2 {
  //     max-width: 800px;
  //   }
  // }

  .img-left {
    position: absolute;
    transform: scale(1.5);
    right: 80%;
    z-index: -2;
    @media all and (max-width: 1200px) {
      width: 600px;
      right: 80%;
    }
    @media all and (max-width: 990px) {
      width: 550px;
      right: 85%;
    }
    @media all and (max-width: 770px) {
      transform: scale(1.3);
      top: 47%;
      right: 25%;
    }
  }
  .img-right {
    position: absolute;
    transform: scale(2.7);
    left: 90%;
    top: 210px;
    z-index: -2;
    width: 300px;
    @media all and (max-width: 1200px) {
      width: 280px;
      left: 90%;
    }
    @media all and (max-width: 990px) {
      width: 250px;
      left: 95%;
    }
    @media all and (max-width: 770px) {
      display: none;
    }
  }
  .img-woman {
    margin-left: 180px;
    transform: scale(1.5);
    max-height: 310px;
    z-index: -2;
    @media all and (max-width: 1200px) {
      margin-left: 100px;
    }
    @media all and (max-width: 990px) {
      margin-left: 10px;
    }
    @media all and (max-width: 770px) {
      transform: scale(1.4);
    }
  }
  input {
    @include btn_vert;
    width: 200px;
    height: 45px;
    //margin-top: 20px;
  }
}
.section2 {
  min-height: 1300px;
  background-color: $fondGris;
  padding: 25px 70px;
  .section2__titreText {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
    @media all and (max-width: 770px) {
      max-width: 500px;
    }
  }
  h2 {
    max-width: 540px;
    margin: 0 auto 10px auto;
    @media all and (max-width: 770px) {
      margin: 0 0 10px 0;
    }
  }
  .flexCard {
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    margin: 20px auto;
    flex-wrap: wrap;
    .card {
      background-color: #fff;
      width: 340px;
      min-height: 475px;
      border: 1px solid #dfdfdf;
      border-radius: 5px;
      text-align: center;
      padding: 30px 20px;
      color: $bleuFonce;
      font-size: 16px;
      margin-bottom: 20px;
      h4 {
        margin-top: 10px;
        font-size: 30px;
      }
      p {
        margin: 15px 0;
      }
      ul {
        margin-left: 20px;
      }
      li {
        margin: 25px 0 25px 15px;
        text-align: left;
        position: relative;
        &::before {
          content: "";
          display: inline-block;
          height: 1.5em;
          width: 1.5em;
          background: url("/img/li.svg") no-repeat;
          background-size: contain;
          position: absolute;
          top: 0;
          left: -2em;
        }
      }
    }
    @media all and (max-width: 1200px) {
      .card {
        width: 275px;
      }
    }
    @media all and (max-width: 970px) {
      .card {
        width: 340px;
      }
    }
    @media all and (max-width: 770px) {
      .card {
        width: 500px;
      }
    }
    @media all and (max-width: 1200px) {
      max-width: 700px;
    }
  }

  .videoText {
    display: flex;
    max-width: 1100px;
    margin: 70px auto;
    .video {
      display: inline-block;
      max-width: 730px;
      height: 410px;
      margin: 0 25px 0 0;
    }
    .labelVideo {
      max-width: 340px;
      h4 {
        margin-bottom: 80px;
      }
      p {
        font-size: 18px;
      }
      @media all and (max-width: 770px) {
        max-width: 500px;
      }
    }
  }
  @media all and (max-width: 1200px) {
    iframe {
      width: 500px;
    }
    .videoText {
      max-width: 700px;
    }
  }
  @media all and (max-width: 765px) {
    .videoText {
      flex-wrap: wrap;
      justify-content: center;
      margin: 20px auto;
      .video {
        margin: 0;
      }
    }
    .labelVideo {
      min-width: 85%;
    }
  }
}
.speakLanguage {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  .speakLanguage_L {
    width: 500px;
    margin-right: 25px;
  }
  h2 {
    margin-bottom: 25px;
  }
  img {
    width: 500px;
  }
  @media all and (max-width: 1200px) {
    max-width: 700px;
  }
}
@media all and (max-width: 1200px) {
  .speakLanguage img {
    width: 300px;
  }
}
@media all and (max-width: 765px) {
  .speakLanguage img {
    width: 500px;
  }
  .speakLanguage {
    flex-wrap: wrap;
  }
  .speakLanguage_L {
    width: 100%;
  }
}

.helpingJob_container {
  background-color: $fondGris;
  min-height: 565px;
  padding: 50px 0;
}
.helpingJob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1100px;
  flex-wrap: wrap;
  img {
    width: 350px;
  }
  .helpingJob_L {
    padding-right: 20px;
  }

  .helpingJob_R {
    h2 {
      margin-bottom: 35px;
      width: 600px;
      @media all and (max-width: 770px) {
        max-width: 500px;
      }
    }
    .helpingJob_R_point {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      .helpingJob_R_point_card {
        position: relative;
        max-width: 350px;
        margin-bottom: 10px;
        padding-left: 3em;
        counter-increment: counted-list;
        line-height: 25.2px;
        &::before {
          content: counter(counted-list);
          position: absolute;
          left: 0px;
          color: #fff;
          font-size: 1.25em;
          line-height: 1.7;
          width: 40px;
          height: 40px;
          background: #7239ff;
          text-align: center;
          border-radius: 20px;
        }
        @media all and (max-width: 770px) {
          max-width: 100%;
        }
      }
      @media all and (max-width: 770px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
      }
    }
    @media all and (max-width: 770px) {
      max-width: 500px;
    }
  }
}
@media all and (max-width: 1200px) {
  .helpingJob {
    justify-content: center;
    align-items: center;
    img {
      width: 450px;
    }
  }
}
@media all and (max-width: 765px) {
  .helpingJob {
    padding: 0 55px;
    max-width: 700px;
    img {
      width: 350px;
    }
  }
}

.slider {
  position: relative;
  min-height: 450px;
  background-color: $violetClair;
  .slider1 {
    visibility: visible;
    position: absolute;
    width: 1100px;
    text-align: center;
    padding: 65px 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s ease;
  }
  .slider2 {
    visibility: visible;
    position: absolute;
    width: 1100px;
    text-align: center;
    padding: 65px 0;
    top: 0;
    left: 100%;
    transition: all 1s ease;
  }
  .slider3 {
    visibility: visible;
    position: absolute;
    width: 1100px;
    text-align: center;
    top: 0;
    left: 100%;
    padding: 65px 0;
    transition: all 1s ease;
  }
  .slider_message {
    font-size: 38px;
    color: white;
    line-height: 48px;
    width: 800px;
    margin: 15px auto;
    @media all and (max-width: 770px) {
      font-size: 22px;
      width: 500px;
      line-height: 48px;
    }
  }
  .slider_author {
    color: white;
    font-style: 18px;
    font-style: italic;
  }
  .slider_dot {
    position: relative;
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    top: 400px;
    .slider_dot_1 {
      display: inline-block;
      border: 1px solid white;
      width: 15px;
      height: 15px;
      cursor: pointer;
      border-radius: 20px;
      margin: 0 4px;
      opacity: 1;
      background-color: #fff;
    }
    .slider_dot_2,
    .slider_dot_3 {
      display: inline-block;
      border: 1px solid white;
      width: 15px;
      height: 15px;
      cursor: pointer;
      border-radius: 20px;
      margin: 0 4px;
      opacity: 1;
      background-color: transparent;
    }
  }
}

.personnalAssistant {
  min-height: 700px;
  background-color: $fondGris;
  .personnalAssistant_title {
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 20px;
    h2 {
      margin-bottom: 20px;
    }
    @media all and (max-width: 770px) {
      max-width: 550px;
    }
  }
  .personnalAssistant_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
    margin: 25px auto 0 auto;
    padding-bottom: 25px;
    .personnalAssistant_card {
      flex: 0 0 50%;
      padding: 15px;
      h2 {
        margin-bottom: 10px;
      }
    }
    @media all and (max-width: 765px) {
      .personnalAssistant_card {
        flex: 0 0 100%;
        text-align: center;
      }
    }
    @media all and (max-width: 1200px) {
      max-width: 700px;
    }
    @media all and (max-width: 770px) {
      max-width: 550px;
    }
  }
}

.helpUs {
  background-color: $violetClair;
  color: white;
  height: 400px;
  display: flex;
  align-items: center;
  .helpUs_container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    h2 {
      color: white;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 25px;
      width: 640px;
      @media all and (max-width: 770px) {
        width: 550px;
      }
    }
    input {
      @include btn_transparent;
      width: 400px;
      height: 40px;
    }
    @media all and (max-width: 770px) {
      width: 550px;
    }
  }
  @media all and (max-width: 770px) {
    height: 300px;
  }
}
footer {
  padding: 20px;
  h5 {
    color: $vertClair;
    margin: 15px 0;
    line-height: 18px;
    font-size: 16px;
  }
  img {
    margin-top: 15px;
  }
  a {
    color: white;
  }
  background-color: $bleuFonce;
  min-height: 725px;
  .footer_container {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 25px;
    min-height: 725px;
    .footer_container_liste {
      display: flex;
      justify-content: space-between;
      margin-bottom: 70px;
      li {
        margin: 10px 0;
        max-width: 200px;
        line-height: 22px;
        font-size: 16px;
        color: white;
      }
      a:hover {
        text-decoration: underline;
      }
      .footer_container_card {
        @media all and (max-width: 990px) {
          &:not(:nth-last-child(1)) {
            width: 100px;
          }
          img {
            max-width: 150px;
          }
        }
      }
    }
    @media all and (max-width: 990px) {
      max-width: 600px;
    }
    .footer_liens {
      margin-bottom: 10px;
      a {
        margin-right: 15px;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .copyright p {
      color: white;
      font-size: 14px;
    }
    // @media all and (max-width: 1200px) {
    //   max-width: 700px;
    // }
  }
}
