@font-face {
  font-family: "Gotham";
  src: url("/font/GothamBook.ttf");
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 23px 36px;
}
.menu .lienMenu {
  display: flex;
}
.menu .lienMenu li {
  display: inline-block;
  margin: 0 25px;
  padding-right: 25px;
  background: url(/img/dropdown.svg) no-repeat right;
}
.menu .lienMenu li a {
  color: #270072;
  font-weight: bold;
  font-size: 15px;
}
.menu .lienMenu span {
  border-left: 1px solid #cacaca;
  height: 15px;
  padding-left: 20px;
}
.menu input {
  width: 130px;
  height: 40px;
  background-color: #8cdb1f;
  border-radius: 20px;
  color: #270072;
  font-weight: bold;
}

.search {
  background-color: #7239ff;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input {
  background-color: #501ece;
  width: 640px;
  height: 40px;
  border-radius: 20px;
  padding-left: 30px;
}
.search input::placeholder {
  color: white;
  font-size: 18px;
}

.section1 .section1__container1 {
  display: block;
  padding-top: 60px;
  width: 600px;
  text-align: center;
  height: 520px;
  margin: 0 auto;
  background-color: #fff;
}
.section1 .section1__container1 p {
  width: 400px;
  margin: 0 auto;
}
.section1 .section1__container1 span {
  font-weight: bold;
}
.section1 img {
  width: 700px;
  height: 500px;
}
.section1 .section1__container2 {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto 25px auto;
  max-height: 310px;
}
.section1 .section1__container2 h2 {
  width: 400px;
  margin-top: 50px;
}
.section1 .section1__container2 p {
  margin: 30px 0;
  width: 400px;
}
.section1 .img-left {
  position: absolute;
  transform: scale(1.5);
  left: -150px;
  z-index: 0;
}
.section1 .img-right {
  position: absolute;
  transform: scale(2.7);
  right: 100px;
  top: 210px;
  z-index: -2;
  width: 300px;
}
.section1 .img-woman {
  margin-left: 180px;
  transform: scale(1.5);
  max-height: 310px;
  z-index: -2;
}
.section1 input {
  background-color: #8cdb1f;
  border-radius: 20px;
  color: #270072;
  font-weight: bold;
  width: 200px;
  height: 45px;
  margin-top: 20px;
}

.section2 {
  height: 1300px;
  background-color: #f4f4f4;
}
.section2 .section2__titreText {
  padding-top: 20px;
  margin: 0 auto;
  width: 900px;
  text-align: center;
}
.section2 h2 {
  width: 540px;
  margin: 0 auto;
}
.section2 .flexCard {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 20px auto;
}
.section2 .flexCard .card {
  background-color: #fff;
  width: 340px;
  height: 475px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  text-align: center;
  padding: 30px 20px;
  color: #270072;
  font-size: 16px;
}
.section2 .flexCard .card h4 {
  margin-top: 10px;
  font-size: 30px;
}
.section2 .flexCard .card p {
  margin: 15px 0;
}
.section2 .flexCard .card ul {
  margin-left: 20px;
}
.section2 .flexCard .card li {
  margin: 25px 0 25px 15px;
  text-align: left;
  position: relative;
}
.section2 .flexCard .card li::before {
  content: "";
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  background: url("/img/li.svg") no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: -2em;
}
.section2 .videoText {
  display: flex;
  max-width: 1100px;
  margin: 70px auto;
}
.section2 .videoText .video {
  display: inline-block;
  max-width: 730px;
  height: 410px;
  border: 1px solid #474747;
  margin-right: 25px;
}
.section2 .videoText .labelVideo {
  max-width: 340px;
}
.section2 .videoText .labelVideo h4 {
  margin-bottom: 80px;
}
.section2 .videoText .labelVideo p {
  font-size: 18px;
}

.speakLanguage {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}
.speakLanguage .speakLanguage_L {
  width: 500px;
  margin-right: 25px;
}
.speakLanguage h2 {
  margin-bottom: 25px;
}
.speakLanguage img {
  width: 500px;
}

.helpingJob_container {
  background-color: #f4f4f4;
  height: 565px;
  padding: 50px 0;
}

.helpingJob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1100px;
}
.helpingJob img {
  width: 350px;
}
.helpingJob .helpingJob_L {
  padding-right: 20px;
}
.helpingJob .helpingJob_R h2 {
  margin-bottom: 35px;
  width: 600px;
}
.helpingJob .helpingJob_R .helpingJob_R_point {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.helpingJob .helpingJob_R .helpingJob_R_point .helpingJob_R_point_card {
  position: relative;
  max-width: 350px;
  margin-bottom: 10px;
  padding-left: 3em;
  counter-increment: counted-list;
  line-height: 25.2px;
}
.helpingJob .helpingJob_R .helpingJob_R_point .helpingJob_R_point_card::before {
  content: counter(counted-list);
  position: absolute;
  left: 0px;
  color: #fff;
  font-size: 1.25em;
  line-height: 1.7;
  width: 40px;
  height: 40px;
  background: #7239ff;
  text-align: center;
  border-radius: 20px;
}

.slider {
  height: 400px;
  background-color: #7239ff;
}

.personnalAssistant {
  height: 700px;
  background-color: #f4f4f4;
}
.personnalAssistant .personnalAssistant_title {
  text-align: center;
  width: 750px;
  margin: 0 auto;
  padding-top: 20px;
}
.personnalAssistant .personnalAssistant_title h2 {
  margin-bottom: 20px;
}
.personnalAssistant .personnalAssistant_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  margin: 25px auto;
}
.personnalAssistant .personnalAssistant_list .personnalAssistant_card {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 15px;
}
.personnalAssistant .personnalAssistant_list .personnalAssistant_card h2 {
  margin-bottom: 10px;
}

.helpUs {
  background-color: #7239ff;
  color: white;
  height: 400px;
  display: flex;
  align-items: center;
}
.helpUs .helpUs_container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.helpUs .helpUs_container h2 {
  color: white;
  margin-bottom: 10px;
}
.helpUs .helpUs_container p {
  margin-bottom: 25px;
  width: 640px;
}
.helpUs .helpUs_container input {
  color: white;
  background: transparent;
  border-radius: 40px;
  border: 1px solid white;
  font-size: 14px;
  font-weight: bold;
  width: 400px;
  height: 40px;
}

footer {
  padding: 20px;
  background-color: #270072;
  height: 725px;
}
footer h5 {
  color: #8cdb1f;
  margin: 15px 0;
}
footer a {
  color: white;
}
footer .footer_container {
  max-width: 1100px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
  font-family: "Gotham";
}

html {
  overflow-x: hidden;
}

header {
  background-color: white;
}

li {
  list-style: none;
}

h1 {
  color: #270072;
  font-size: 60px;
  line-height: 64px;
  font-weight: 700;
}

h2 {
  color: #270072;
  font-size: 35px;
}

h4 {
  color: #270072;
  font-size: 30px;
}

p {
  line-height: 25.2px;
}

.ligneVerte {
  display: inline-block;
  width: 70px;
  border-top: 2px solid #8cdb1f;
  margin: 25px 0;
}

/*# sourceMappingURL=style.css.map */
