@import "fonts";
@import "variables";
@import "mixin";
//***///
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
  font-family: "Gotham";
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 23px 36px;
  .lienMenu {
    display: flex;
    li {
      display: inline-block;
      margin: 0 25px;
      padding-right: 25px;
      background: url(/img/dropdown.svg) no-repeat right;
      a {
        color: #270072;
        font-weight: bold;

        font-size: 15px;
      }
    }
    span {
      border-left: 1px solid rgb(202, 202, 202);
      height: 15px;
      padding-left: 20px;
    }
  }
  input {
    width: 130px;
    height: 40px;
    @include btn_vert;
  }
}

.search {
  background-color: $violetClair;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    background-color: $violetFonce;
    width: 640px;
    height: 40px;
    border-radius: 20px;
    padding-left: 30px;
    &::placeholder {
      color: white;
      font-size: 18px;
    }
  }
}
.section1 {
  .ligneVerte {
    display: inline-block;
    width: 70px;
    border-top: 2px solid $vertClair;
  }
  .section1__container1 {
    border: 1px solid blue;
    display: inline-block;
    padding-top: 100px;
    width: 450px;
    text-align: center;
    height: 520px;
    h1 {
      color: $bleuFonce;
      font-size: 60px;
      line-height: 64px;
      font-weight: 700;
      margin: 20px 0;
    }
    p {
      width: 400px;
      margin: 0 auto;
    }
    span {
      font-weight: bold;
    }
  }
  img {
    width: 700px;
  }
  .section1__container2 {
    border: 1px solid red;
    max-width: 1200px;
    margin: 0 auto;
    height: 310px;
    h2 {
      color: $bleuFonce;
      font-size: 35px;
      width: 400px;
      margin-top: 50px;
    }
    p {
      margin: 30px 0;
      width: 400px;
    }
  }
  input {
    @include btn_vert;
    width: 200px;
    height: 45px;
    margin-top: 20px;
  }
}
